.table td {
    vertical-align: middle;
}
.active {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: green;
}
.notActive {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: grey;
}

.setStatus {
    width: 200px;
}